@font-face {
    font-family: "PlayfairDisplay";
    src: url("../assets/font/PlayfairDisplay.ttf"), url("../assets/font/PlayfairDisplay-Italic.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("../assets/font/Lora.ttf"), url("../assets/font/Lora-Italic.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0rem 2.5rem;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: "PlayfairDisplay", sans-serif;
}
h2 {
    text-align: center;
    margin-bottom: 3.125rem;
    font-size: 32px;
    color: #e0dada;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

body {
    font-family: "Lora", sans-serif;
    font-size: 1.125rem;
    background:
        linear-gradient(rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.411)),
        url(/assets/img/main/main9.jpg) no-repeat center center / cover;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.822);
        .container {
            .nav {
                .list {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0.625rem 0rem;
                    li {
                        .link {
                            display: inline-block;
                            font-family: "PlayfairDisplay", sans-serif;
                            font-weight: 600;
                            transition: all 0.5s ease;
                            &:hover {
                                transform: scale(1.5);
                                color: #9e9e9ef3;
                            }
                        }
                    }
                }
            }
        }
    }
    .main {
        .container {
            .hero {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 6.25rem 0rem;
                .hero__text {
                    h1 {
                        font-size: 3rem;
                        font-weight: normal;
                    }
                    p {
                        font-size: 1.25rem;
                    }
                }
                .hero__img {
                    img {
                        border-radius: 11.25rem;
                        max-width: 25rem;
                    }
                }
            }
            .about-me {
                margin-bottom: 6.25rem;
                .about-me__box {
                    position: relative;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row-reverse;
                    overflow: hidden;

                    .about-me__text {
                        position: relative;
                        z-index: 100;
                        p {
                            // max-width: 25rem;
                            font-size: 1.5625rem;
                            line-height: 1.5;
                            color: #e0dada;
                            text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.5);
                        }
                    }
                    .about-me-img {
                        flex: 0 0 50%;

                        .about-me__photo {
                            max-width: 15.625rem;
                            object-fit: cover;

                            &:nth-of-type(1) {
                                position: relative;
                                transform: rotate(25deg) translate(1.875rem, 0rem);
                                z-index: 2;
                            }
                            &:nth-of-type(2) {
                                position: relative;
                                z-index: 5;
                                transform: rotate(-25deg) translate(-3.125rem, 3.125rem);
                            }
                            &:nth-of-type(3) {
                                transform: rotate(25deg) translate(80px, -80px);
                            }
                            &:nth-of-type(4) {
                                transform: rotate(-25deg) translate(120px, -40px);
                            }
                        }
                    }
                }
            }
            .skills {
                margin-bottom: 6.25rem;
                .skills__box {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid: .625rem;
                    .skills__item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 20px 0px;
                        .skills__img {
                            margin-bottom: 1.5625rem;
                            max-width: 100px;
                        }
                    }
                }
            }
            .code {
            }
        }
    }
    .footer {
        .container {
            .contact {
                .contact__list {
                    .contact__item {
                        img {
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }
}
