@font-face {
    font-family: "PlayfairDisplay";
    src: url("../assets/font/PlayfairDisplay.ttf"), url("../assets/font/PlayfairDisplay-Italic.ttf");
}

@font-face {
    font-family: "Lora";
    src: url("../assets/font/Lora.ttf"), url("../assets/font/Lora-Italic.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0rem 2.5rem;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: "PlayfairDisplay", sans-serif;
}

body {
    font-family: "Lora", sans-serif;
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.822);
        .container {
            .nav {
                .list {
                    display: flex;
                    justify-content: space-between;
                    margin: 0.625rem 0rem;
                    li {
                        .link {
                            display: inline-block;
                            font-family: "PlayfairDisplay", sans-serif;
                            font-weight: 600;
                            transition: all 0.5s ease;
                            &:hover {
                                transform: scale(1.5);
                                color: #9e9e9ef3;
                            }
                        }
                    }
                }
            }
        }
    }
    .main {
        .container {
            .hero {
                margin-top: 3.75rem;
                .hero__text {
                }
                .hero__img {
                    img {
                        max-width: 18.75rem;
                    }
                }
            }
            .about-me {
            }
            .skills {
                .skills__box {
                    .skills__item {
                        .skills__img {
                            max-width: 6.25rem;
                        }
                    }
                }
            }
        }
    }
    .footer {
        .container {
            .contact {
                .contact__title {
                }
                .contact__list {
                    .contact__item {
                        img {
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }
}
